<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>

  <md-card>
    <form ngForm>
      <div>
        <label>id: </label>{{hero.id}}
      </div>
      <div>
        <!--<label>name: </label>-->
        <md-icon class="md-16 list-icon" md-list-avatar color="accent">person</md-icon>
        <md-input placeholder="the hero&rsquo;s name" [(ngModel)]="hero.name" name="name">
          <!--<span md-prefix>$&nbsp;</span>
          <span md-suffix>.00</span>-->
          <md-hint align="end">find a good name</md-hint>
        </md-input>
        <md-input placeholder="details" [(ngModel)]="hero.msg" name="detail" readOnly="true"></md-input>
      </div>

      <button md-raised-button color="primary" (click)="goBack()">Back</button>
      <button md-raised-button color="accent" (click)="save()" *hasPermission="['EDIT_MODEL','GLOP']">Save</button>
    </form>
  </md-card>
</div>