<md-sidenav-layout>
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        side navigation
    </md-sidenav>

    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu">menu</i>
        </button> {{title}} Angular2 + Material2 Simple App
        <span flex></span>
        <nav>
            <a [routerLink]="['/dashboard']">Dashboard</a>
            <a [routerLink]="['/heroes']">Heroes</a>
        </nav>
    </md-toolbar>


    <router-outlet></router-outlet>
</md-sidenav-layout>