<app-login>
  <div class="container">
    <div class="login-ctn">
      <h1>Login Form</h1>
      <form ngForm [formGroup]="loginForm" >
        <div class="form-group">
          <label for="name">UserName</label>
          <input type="text" name="name" formControlName="userName" class="form-control" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" formControlName="password" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!loginForm.valid" (click) = "login()">Submit</button>
      </form>
    </div>
  </div>
</app-login>